body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

#Image {
  margin-top: 20px;
  margin-left: 20px;
  width: 100px;

}

#Navbar {
  height: 80px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

#image-grid {
  display: flex;
  justify-content: center;
  align-content: center;
}

#image-grid>img {
  width: 400px;
}

.Text1 {
  padding-left: 50px;
}

#card {
  display: flex;
  width: 300px;
  flex-direction: column;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);

}


#card>img {
  border-radius: 10px;

}

#star {
  width: 20px;

}

#app-cards {
  display: flex;
  padding: 20px;
  justify-content: space-evenly;
  flex: 1 1 auto;
}

#sold-out {
  background-color: white;
  color: black;
  width: 80px;
  position: absolute;
  margin: 10px;
  text-align: center;
  font-weight:500;
  border-radius: 5px;
}
